<%- include('partials/header') %>

    <section id="title" class="gradient-background">

        <div class="container col-xxl-8 px-4 pt-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="./images/Leisure Blend-logos_white.png" class="d-block mx-lg-auto img-fluid"
                        alt="Bootstrap Themes" height="200" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" id="fonts-h1">Relax , Explore , Hibernate
                        and Heal
                        Yourself....</h1>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Explore</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./images/weapon-3043023_1920.png'); background-size: 100% 100%;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="./images/Leisure Blend-logos_white.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">

                                <a href="./poetry.html" class="text-decoration-none text-white">
                                    <strong>Poetry
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-up-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
                                        </svg>
                                    </strong></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./images/poetry.jpeg'); background-size: 100% 100%;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="opacity: 0.0;">g</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="./images/Leisure Blend-logos_white.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">

                                <a href="./quotes.html" class="text-decoration-none text-white">
                                    <strong>Quotes
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-up-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
                                        </svg>
                                    </strong></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./images/game-console-6603120_1920.jpg'); background-size: 100% 100%;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">

                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="./images/Leisure Blend-logos_white.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">


                                <a href="./fun_and_games.html" class="text-decoration-none text-white">
                                    <strong>Fun and Games


                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-up-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z" />
                                        </svg>
                                    </strong></a>
                            </li>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>