<form class="modal-contents animate container" action="/signup" method="post">
    <div class="imgcontainer">
        <img src="./images/attack-7647136_1920.png" style="width: 100%;height: 20rem;" alt="Avatar" class="avatar">
    </div>
    <p class="text-danger" style="color: red;">
        <%= message %>
    </p>
    <div class="modal-containers text-secondary ">
        <label for="uname"><b></b>Full Name</b></label>
        <input type="text" placeholder="Enter name" name="name" required>

        <label for="uname"><b></b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button class="modal-button" type="submit">Register</button>
    </div>
</form>